build
modmqttd/config.yaml
/.vs/mqmgateway/FileContentIndex/read.lock
/.vs/mqmgateway/FileContentIndex/c90e727e-0c9f-4dd6-9c48-231222b766f3.vsidx
/.vs/mqmgateway/FileContentIndex/745d68bd-6991-4329-b47d-da208b9a85ca.vsidx
/.vs/mqmgateway/FileContentIndex
/.vs
